.test-button {
    display: inline-block;

    padding: 0px 120px 0px 120px;
    margin: 50px 50px;
    border: 1px solid #9299D4;
    background-color: #9299D4;
    border-radius: 40%;
}

.test-button > h2 {
    color: #f2f2f2;
    font-size: 96px;
}