button {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 96px;
    margin: 50px 50px;
    padding: 20px 60px;


    cursor: pointer;

    background-color: #9299D4;
    color: #f2f2f2;
    border-radius: 100px;
    border: none;

    transition-duration: 0.4s;
}
  
button:hover {
background-color: #555555;
}

@media only screen and (max-width: 1050px){
    button {
        font-size: 36px;

        padding: 15px 30px;
        margin: 10px;
    }
}



