html,body { height:100%; }
body {
    padding: 20px;
    background-color: #9299D4;
}

.header, .main-text {
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 100px;
    margin: auto;
}

/*Text on top*/
.header {
    font-size: 96px;
    width: 50%;
}


/*All text except header (top one)*/
.main-text {
    font-size: 60px;
    margin-top: 20px;
    width: 90%;
}

.output {
    width: 90%;
    border-bottom: 5px solid black;
    background-color: #E5E5E5;
}

/*bigg common space between header + output */
.main-body {
    margin-top: 20px;

    background-color: #E5E5E5;
    border-radius: 25px;
}

/*number input */

.custom-field input {
    border: none;
    border-bottom: 5px solid black;

    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: textfield;

    border-radius: 25px;

    text-align: center;

    background: #E5E5E5;
    
    margin: 10px;

    width: 250px;

    font-size: 60px;
}

@media only screen and (max-width: 1050px){
    .header {
        font-size: 36px;
    }
    .main-text {
        font-size: 28px;
    }
}
