body {
    padding: 20px;
    background-color: #9299D4;

}
.header, .main-text {
    text-align: center;
    font-size: 96px;

    width: 50%;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    border-radius: 100px;
    margin: auto;
}

.main-text {
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    width: 90%;
}

.main-body {
    margin-bottom: auto;
    
    background-color: #E5E5E5;
    border-radius: 25px;
}

.main-body > .example-text {
    width: 20%;
    align-items: center;
}